[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-r00t/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-r00t/products-microservice.git
